<launch>
    <!-- for the TF settings -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu"
     args="0.0 0.0 0.12 0.0 0.0 0.0 1.0 /base_link /imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_lidar"
     args="0.11 0.0 0.13 0.0 0.0 0.0 1.0 /base_link /lidar" />

    <!-- converting lidar data -->
    <node name="lidar_convert" pkg="wego" type="lidar_convert"/>

    <!-- for the visulization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wego)/rviz/display.rviz" />
</launch>